[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
fastapi = {extras = ["all"], version = "*"}

[dev-packages]
uvicorn = "*"
autopep8 = "*"

[requires]
python_version = "3.11"
