[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
fastapi = {extras = ["all"], version = "*"}
python-multipart = "*"
sqlalchemy = "*"
path = "*"
typer = "*"
asyncmy = "*"
passlib = "*"
loguru = "*"

[dev-packages]
uvicorn = "*"
pylama = "*"
pylint = "*"
flake8 = "*"

[requires]
python_version = "3.11"
